body {
  font-family: Arial;
  text-align: center;
  background: rgb(175, 240, 238);
  margin: 20px;
}

h1, h2{
  color: black;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 8px 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: lightcoral;
}

.search-box {
  display: flex;
  margin: 10px 0 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

#studentList {
  width: 100%;
  margin: auto;
  text-align: left;
}

.record {
  background: white;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}